
.project-card .procard-content{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.5s;
}

.project-card .procard-content:hover{
    background: rgba(226,0,0,0.7);
}
.project-card .procard-content a{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.procard-content:hover a{
    bottom: 49%;
    opacity: 1;
}